/*!
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2014
 * @package yii2-field-range
 * @version 1.0.0
 *
 * Styling for Field Range
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2014
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-container-from, .kv-container-to {
    padding: 0;
    border: 0;
}

.kv-field-from {
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.kv-field-to {
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: left;
}

.kv-container-from .form-control {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.kv-container-from .input-group .form-control + .input-group-addon {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.kv-container-to .form-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.kv-container-to > .form-control {
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.kv-container-to .input-group .input-group-addon:first-child {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.kv-container-to .input-group .input-group-addon:last-child {
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.grid-view .form-control::-moz-placeholder {
	color: #ccc;
}
.grid-view .form-control:-ms-input-placeholder {
	color: #ccc;
}
.grid-view .form-control::-webkit-input-placeholder {
	color: #ccc;
}

.grid-view .input-daterange input  {
	text-align: left;
}

.grid-view .kv-field-from .form-control, .grid-view .kv-field-from.form-control {
	border-radius: 4px !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
	border-bottom-width: 0;
}

.grid-view .kv-field-to .form-control, .grid-view .kv-field-to.form-control {
	border-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.grid-view .kv-container-from .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
	border-bottom-width: 0;
    border-bottom-right-radius: 0;
}

.grid-view .kv-container-to .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
	border-bottom-width: 0;
    border-top-right-radius: 0;
	padding-bottom: 9px;
}

.grid-view .form-group {
	margin-bottom: 0; 
}

.grid-view .help-block {
	margin-top: 0;
	margin-bottom: 0;
}

.grid-view span.input-group-addon.kv-field-separator {
	display: none;
}